/* 1. Import Inter from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* 2. The Magic Reset (Kill all default spacing) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3. Set the Defaults */
body {
  font-family: 'Inter', sans-serif; /* Apply Inter everywhere */
  background-color: #f9fafb; /* A very light gray background looks cleaner than pure white */
  color: #111827; /* Almost black (softer on eyes) */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Makes fonts look crisp on Mac */
}

/* 4. Make images behave */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 5. Clean up buttons */
button {
  font-family: inherit;
}

.App{
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 40px;
  flex-wrap: wrap;
  height: max-content;
}



.product-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  width: 480px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  height: 240px;
  border-radius: 4px;
  margin-bottom: 12px;
  overflow: hidden;
}

.no-image {
  width: 100%;
  height: 240px;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
  border-radius: 4px;
  margin-bottom: 12px;
  font-size: 14px;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  color: #111827;
  margin-bottom: 4px;
}


.price-text {
  font-size: 24px;
  font-weight: 800;
  color: #0c01a3;
  margin-bottom: 4px;
}

.original-price {
  font-size: 14px;
  color: #6b7280;
  text-decoration: line-through;
  margin-left: 8px;
}

.new-badge {
  background-color: #009b67;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 9999px;
  align-self: flex-start;
  margin-bottom: 8px;
  position: absolute;
  
}

.price-section {
  display: flex;
  align-items: center;
}

.add-to-cart-btn {
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}
.add-to-cart-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}